[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-oauth-toolkit = "*"
six = "*"
django-environ = "*"
django-cors-headers = "*"

[dev-packages]
flake8 = "*"
black = "*"
pre-commit = "*"
flake8-import-order = "*"

[requires]
python_version = "3.9"
